@font-face {
    font-family: 'icomoon';
    src:
      url('fonts/icomoon.ttf?omdyjd') format('truetype'),
      url('fonts/icomoon.woff?omdyjd') format('woff'),
      url('fonts/icomoon.svg?omdyjd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-accomodation:before {
    content: "\e902";
  }
  .icon-coffee-cup:before {
    content: "\e903";
  }
  .icon-bunk-bed:before {
    content: "\e904";
  }
  .icon-testimonial:before {
    content: "\e905";
  }
  .icon-phone-receiver:before {
    content: "\e901";
  }
  .icon-menu-button:before {
    content: "\e900";
  }

:root {
    --main-color: black;
    --accent-color: #7ca934;
    --accent-color-primary: #689225;
    --bg-color: #f8f8f8;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, header, main, footer, nav, p,
button{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button{
    border: none;
    background: none;
    outline: none;
}

input{
    background: none; 
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}


.container {
    padding: 0 10px;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.img-responsive{
    width: 100%;
    display: block;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 10px;
    transition: all .3s;
}

.btn:hover{
    background-color: var(--accent-color-primary);
}

.headerTop {
    padding: 24px 0 21px;
    background-color: #f8f8f8;
}

.headerTop .headerTop__outer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerTop .headerTop__nav {
    display: none;
}

.headerTop .headerTop__contacts{
    display: none;
}

.mobileMenu .mobileMenu__button .icon {
    font-size: 34px;
}

@media (min-width: 580px){
    .container{
        padding: 0 18px;
    }
}

@media (min-width: 690px){
    .container{
        padding: 0 50px;
    }
}

@media (min-width: 900px){
    .container{
        padding: 0 70px;
    }
}

@media (min-width: 970px) {
    .container{
        max-width: 790px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    
    .mobileMenu {
        display: none;
    }
    
    .headerTop{
        padding: 18px 0;
    }
    
    .headerTop .headerTop__nav {
        display: flex;
    }
    
    .headerTop .headerTop__nav .headerMenu {
        display: flex;
        align-items: center;
    }
    
    .headerTop .headerMenu .headerMenu__item {
        padding: 0 17px;
    }
    
    .headerTop .headerMenu .headerMenu__link{
        text-decoration: none;
        color: var(--main-color);
        transition: all .3s;
        font-size: 17px;
    } 
    
    .headerTop .headerMenu .headerMenu__link:hover{
        color: var(--accent-color);
    }

    .headerTop .headerTop__contacts {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .headerTop .headerContacts:before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'icomoon';
        content: "\e901";
        left: -30px;
        font-size: 20px;
    }
    
    .headerTop .headerContacts .headerContacts__item a {
        color: var(--main-color);
        font-family: 'Arial Bold', sans-serif;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
    } 
}

@media (min-width: 1100px){
    .container{
        max-width: 850px;
    }
    
    .headerTop .headerMenu .headerMenu__item {
        padding: 0 22px;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 1000px;
    }
    
    .headerTop .headerMenu .headerMenu__item {
        padding: 0 29px;
    }
}

@media (min-width: 1300px){
    .container{
        max-width: 1150px;
    }
}

.mainContent .mainContent__banner{
    position: relative;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

.mainContent .mainContent__banner:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.5;
}

.mainContent .banner .banner__outer{
    display: flex;
    flex-direction: column;
    padding: 30px 0 43px;
}

.mainContent .banner .banner__left,
.mainContent .banner .banner__form{
    z-index: 1;
}

.mainContent .banner .banner__title{
    max-width: 296px;
    width: 100%;
    font-family: 'Arial Bold', sans-serif;
    font-weight: bold;
    font-size: 23.25px;
    color: var(--accent-color);
    margin-bottom: 20px;
}

.mainContent .banner .banner__describe{
    font-size: 14px;
    color: #fff;
    margin-bottom: 35px;
}

.mainContent .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 20px 30px;
    box-sizing: border-box;
}

.mainContent .form .form__title{
    font-family: 'Arial Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.mainContent .form .form__set{
    margin: 5px 0;
}

.mainContent .form .form__control{
    display: block;
    border: none;
    border-radius: 10px;
    height: 36px;
    width: 244px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 12px 20px;
    color: #757575;
    font-size: 15px;
}

.mainContent .form .form__btn {
    box-sizing: border-box;
    width: 244px;
    height: 36px;
    font-family: 'Arial Bold', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

@media (min-width: 450px){
    .mainContent .form .form__control{
        width: 320px;
    }
    
    .mainContent .form .form__btn{
        width: 320px;
    }
}

@media (min-width: 500px) {
    .mainContent .banner .banner__outer {
        padding: 60px 0 63px;
        align-items: center;
    }
    
    .mainContent .banner .banner__left{
        text-align: center;
    }
    
    .mainContent .banner .banner__describe {
        margin-bottom: 46px;
    }

    .mainContent .form {
        padding: 31px 20px 52px;
        max-width: 528px;
        width: 100%;
    }

    .mainContent .form .form__title {
        margin-bottom: 33px;
    }

    .mainContent .form .form__set {
        margin: 9px 0;
    }

    .mainContent .form .form__control,
    .mainContent .form .form__btn{
        width: 349px;
    }
}

@media (min-width: 970px) {
    .mainContent .banner .banner__outer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 105px 17px 78px 0;
    }
    
    .mainContent .banner .banner__left{
        text-align: left;
    }
    
    .mainContent .banner .banner__title {
        max-width: 446px;
        width: 100%;
        font-size: 35px;
        margin-bottom: 43px;
    }

    .mainContent .banner .banner__describe {
        margin-bottom: 55px;
        font-size: 22px;
    }

    .mainContent .form {
        padding: 31px 50px 52px;
        max-width: 390px;
    }

    .mainContent .form .form__control,
    .mainContent .form .form__btn{
        width: 300px;
    }
    
}

@media (min-width: 1300px) {
    .mainContent .form {
        padding: 31px 88px 52px;
        max-width: 564px;
    }

    .mainContent .form .form__control,
    .mainContent .form .form__btn{
        width: 370px;
    }
    
}

.mainContent .mainContent__advantages {
    padding: 43px 25px 80px;
    background-color: var(--bg-color);
}

.mainContent .mainContent__title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Arial Bold', sans-serif;
    font-weight: bold;
}

.advantages .advantages__row {
    margin-top: 34px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
} 

.advantages .advantages__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.advantages .advantages__icon {
    margin-bottom: 20px;
}

.advantages .advantages__icon .icon {
    color: var(--accent-color);
    font-size: 50px;
}

.advantages .advantages__text {
    font-size: 16px;
}

@media (min-width: 500px) {
    .mainContent__title {
        font-size: 22px;
    }
    .advantages .advantages__text {
        font-size: 18px;
    }

    .advantages .advantages__row {
        column-gap: 90px;
    } 

    .advantages .advantages__icon .icon {
        font-size: 90px;
    }
}

@media (min-width: 971px) {
    .mainContent .mainContent__title {
        font-size: 35px;
    }
    .advantages .advantages__text {
        font-size: 20px;
    }

    .advantages .advantages__icon .icon {
        font-size: 97px;
    }

    .advantages .advantages__row {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 
}

@media (min-width: 1200px) {
    .mainContent .mainContent__advantages {
        padding: 54px 10px 115px;
    }

    .advantages .advantages__row {
        column-gap: 140px;
    } 
}

.mainContent .mainContent__hotelCatalog {
    display: flex;
    justify-content: center;
    padding: 40px 0 80px;
}

.mainContent__hotelCatalog .mainContent__title {
    margin-bottom: 30px;
}

.hotelCatalog .hotelCatalog__outer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 35px;
}

.hotelCatalog .hotelCatalog__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-width: 520px;
    padding: 9px 13px 27px;
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: 0px 3px 10.66px 2.34px rgba(0, 116, 228, 0.26);
}

.hotelCatalog .hotelCatalog__img {
    margin-bottom: 22px;
}

.hotelCatalog .hotelCatalog__price {
    font-family: 'Arial Bold', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

.hotelCatalog .hotelCatalog__title {
    display: block;
    max-width: 200px;
    width: 100%;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
} 

.hotelCatalog .hotelCatalog__descr {
    text-align: center;
    flex: 1;
}

.hotelCatalog .hotelCatalog__btn {
    box-sizing: border-box;
    width: 190px;
    height: 31px;
    text-decoration: none;
    font-family: 'Arial Bold', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    margin-top: 37px;
}

@media (min-width: 700px) {
    .hotelCatalog .hotelCatalog__outer {
        grid-template-columns: 1fr 1fr;
        row-gap: 35px;
        column-gap: 23px;
    }
}

@media (min-width: 971px) {
    .hotelCatalog .hotelCatalog__price {
        font-size: 23.44px;
    }

    .hotelCatalog .hotelCatalog__title {
        font-size: 20.97px;
    }

    .hotelCatalog .hotelCatalog__descr {
        font-size: 17px;
    }

    .hotelCatalog .hotelCatalog__outer {
        row-gap: 37px;
        column-gap: 29px;
    }

    .hotelCatalog .hotelCatalog__item {
        max-width: 565px;
    }
}

@media (min-width: 1200px) {
    .hotelCatalog .hotelCatalog__btn {
        width: 344px;
        height: 47px;
        font-size: 17px;  
    }
}

.mainContent .mainContent__nearPlace {
    background-image: url(../img/background-image.png);
    background-size: cover;
}

.nearPlace .nearPlace__overlay {
    background-color: rgba(248, 248, 248, 0.722);
    width: 100%;
    height: 100%;
    padding: 49px 0 50px;
}

.nearPlace .nearPlace__outer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    padding-top: 35px;
    /*height: 370px;
    /*overflow: hidden;*/
}

.nearPlace .nearPlace__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.nearPlace .nearPlace__img{
    display: flex;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
}

.nearPlace .nearPlace__title {
    font-size: 15px;
    margin-top: 15px;
    font-family: 'Arial Regular', sans-serif;
}

@media (min-width: 600px) {
    .nearPlace .nearPlace__outer {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 30px;
        column-gap: 25px;
        padding-top: 50px;
    }
}

@media (min-width: 750px) {
    .nearPlace .nearPlace__overlay {
        padding-bottom: 75px;
    }

    .nearPlace .nearPlace__img {
        width: 170px;
        height: 170px;
    }

    .nearPlace .nearPlace__title {
        font-size: 17px;
    }
}

@media (min-width: 971px) {
    .nearPlace .nearPlace__overlay {
        padding-bottom: 90px;
    }

    .nearPlace .nearPlace__outer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 53px;
        column-gap: 29px;
        padding-top: 76px;
    }

    .nearPlace .nearPlace__title {
        font-size: 18px;
        margin-top: 20px;
    }
}

@media (min-width: 1200px) {
    .nearPlace .nearPlace__overlay {
        padding-bottom: 115px;
    }

    .nearPlace .nearPlace__outer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 55px;
        column-gap: 31px;
    }

    .nearPlace .nearPlace__img {
        width: 200px;
        height: 200px;
    }

    .nearPlace .nearPlace__title {
        font-size: 21.8px;
        margin-top: 28px;
    }
}

@media (min-width: 1300px) {
    .nearPlace .nearPlace__img {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 971px) {
    .mainContent .mainContent__gallery {
        padding: 50px 0 52px;
    }

    .gallery .gallery__outer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 30px;
        column-gap: 20px;
        padding-top: 37px;
    }

    .gallery .gallery__img {
        flex: 1;
    }
}

@media (min-width: 1200px) {
    .gallery .gallery__outer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 40px;
        column-gap: 30px;
    }
}

.mainContent .mainContent__feedback {
    display: none;
}

.feedback {
    display: none;
}

@media (min-width: 971px) {
    .mainContent .mainContent__feedback {
        background-color: var(--bg-color);
        padding: 47px 0 113px;
        display: flex;
        justify-content: center;
    }

    .feedback .feedback__item {
        display: flex;
        justify-content: space-between;
        margin-top: 51px;
        padding: 22px 65px 67px 25px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 3px 10.66px 2.34px rgba(0, 116, 228, 0.26);
        max-width: 971px;
        box-sizing: border-box;
    }
    
    .feedback .feedback__descr {
        margin-left: 29px;
    }
    
    .feedback .feedback__name {
        font-family: 'Arial Bold', sans-serif;
        font-weight: bold;
        font-size: 17px;
        margin-top: 14px;
        margin-bottom: 24px;
    }
}

.mainContent .mainContent__aboutUs {
    background-image: url(../img/background-image-bottom.png);
    background-size: cover;
}

.aboutUs .aboutUs__overlay {
    background-color: rgba(248, 248, 248, 0.722);
    width: 100%;
    height: 100%;
    padding: 40px 0 50px;
}

.aboutUs .aboutUs__outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUs .aboutUs__text {
    text-align: center;
    max-width: 520px;
}

.aboutUs .aboutUs__text:first-of-type {
    margin-top: 35px;
    margin-bottom: 30px;
}

@media (min-width: 600px) {
    .aboutUs .aboutUs__overlay {
        padding-bottom: 120px;
    }

    .aboutUs .aboutUs__text {
        max-width: 700px;
    }
}

@media (min-width: 971px) {
    .aboutUs .aboutUs__overlay {
        padding-top: 49px;
        padding-bottom: 180px;
    }

    .aboutUs .aboutUs__text {
        font-size: 18px;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .aboutUs .aboutUs__overlay {
        padding-top: 52px;
        padding-bottom: 227px;
    }
}

.contacts {
    padding: 35px 0 40px;
    display: flex;
    justify-content: center;
}

.contacts .contacts__title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Arial Bold', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}

.contacts .contacts__map {
    display: none;
}

.contactsInfo .contactsInfo__item {
    display: flex;
}

.contactsInfo .contactsInfo__icon .icon {
    font-size: 22px;
    color: var(--accent-color);
}

.contactsInfo .contactsInfo__descr {
    margin-left: 27px;
    margin-bottom: 23px;
}

.contactsInfo .contactsInfo__title {
    font-size: 16px;
    font-family: 'Arial Bold', sans-serif;
    font-weight: bold;
    color: var(--accent-color);
    margin-bottom: 15px;
}

.contactsInfo .contactsInfo__tel,
.contactsInfo .contactsInfo__mail {
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

.contactsInfo .contactsInfo__tel {
    display: flex;
    line-height: 1.2;
}


@media (min-width: 500px) {
    .contacts .contacts__map {
        display: flex;
        max-width: 512px;
        height: 400px;
    }
}
.Forma_1 {
  background-color: rgb(124, 169, 52);
  position: absolute;
  left: 354px;
  top: 845px;
  width: 95px;
  height: 95px;
  z-index: 134;
}







  


  
  




  



